CATALOG_SOURCE=memory
DATABASE_URL=jdbc:postgresql://HOST:5432/DATABASE
DATABASE_USERNAME=USER
DATABASE_PASSWORD=PASSWORD
CORS_ALLOWED_ORIGINS=http://localhost:5173

DB_HOST=HOST
DB_PORT=5432
DB_NAME=DATABASE
DB_USER=USER
DB_PASSWORD=PASSWORD
DB_SSL=require
